@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif !important; 
}

#banner {
    height: 100%;
  background: url("../images/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#services {
background: url("../images/backgrounds/s_image.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}
#contact {
  background: url("../images/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }
#what-details1 , #what-details2 , #what-details3  {
  display: none;
}
/* .what1 , .what2 , .what3  {
  display: block;
} */
.image-overlay {
  top: 0;
  
  height: 100%;
  width: 85%;
  background: rgba(0, 0, 0, 0.6);

}