html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  background: url("../images/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
